#!/bin/sh
set -e

echo "Restoring shared library symlinks..."
cd "$(dirname "$0")"

ln -sf "{{REAL_CRYPTO_FILE}}" "libcrypto.so"
ln -sf "{{REAL_SSL_FILE}}" "libssl.so"

echo "✅ Symlinks restored successfully."
